#header ol a, footer a {
  color: #32ADFF;
}
a:hover {
  color: #FFBB00 !important;
}
.btn:hover {
  color:#000 !important;
}


.feature {
  margin-bottom:110px;
}
.feature p {
  font-size: 14pt;
  line-height: 22pt;
}
.feature h2 {
  font-size:22pt;
  font-weight: 100;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.feature h2 .icon {
  font-size:20pt;
  margin-right: 15px;
}
#feature-list img {
  height:auto;
  width:100%;
  display:block;
  box-shadow: 7px 7px 10px grey;
}
#feature-list > .row > div {
  padding-bottom:100px;
}
#feature-list .list-left {
  padding-right:60px;
}
#feature-list .list-right {
  padding-left:60px;
}
#feature-list p {
  margin-bottom:20px;
}
@media only screen and (max-width: 768px) {
  #feature-list .list-left, #feature-list .list-right {
    padding-left:15px;
    padding-right:15px;
  }
  .feature h2 {
    font-size:19pt;
  }
  .feature h2 .icon {
    font-size:18pt;
    margin-right:5px;
  }
}


.jumbotron {
  background: url('/images/background.jpg') center center;
  color: white;
  text-shadow: #444 0 1px 1px;
  margin-top:50px;
  padding:40px 20px;
}
.jumbotron h1 {
  margin:0;
  font-weight: bold;
  text-shadow: 0 1px 2px #777;
}
.jumbotron .btn {
  text-shadow: 0 0px 0px;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  #header {
    margin-top: -20px;
  }
}



.definition {
  margin:30px 20px;
  padding:0;
  counter-reset: item;
}
.definition li {
  display: block;
  font-size: 21px;
  font-weight: 300;
  padding-left:1.1em;
}
.definition li:before {
  content: counter(item) ". ";
  counter-increment: item;
  font-weight: bold;
  margin-left:-1.1em;
}






.carousel {
  box-shadow: 7px 7px 10px grey;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  max-width: 30px;
  height: 3px !important;
  margin: 0px 3px !important;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255,255,255,.5);
  border: 0px !important;
  border-radius: 0px !important;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .carousel {
    margin: 0px;
  }
}


.small-jumbotron .row {
  text-align:center;
  padding:20px;
}
.small-jumbotron .icon {
  font-size:120px;
  display:inline-block;
  margin: 40px 40px 20px 40px;
  text-shadow: 0 0 50px #fff;
  color:#000;
}


#generation-panel {
  margin-top:30px;
}
#generation-panel .gist-file > div > div > div > div {
  height:400px;
  overflow:scroll;
}
#generation-panel .panel-body {
  height:440px;
}
#generation-panel .panel-body code {
  background:white;
}
.panel-heading, .nav-tabs {
  padding-bottom:0;
  border-bottom:0;
}


.toc .nav > li > a {
  font-size:11pt;
  vertical-align: middle;
}
.toc .nav > li > a > .icon {
  display: inline-block;
  width: 28px;
}
@media only screen and (max-width: 768px) {
  .toc .nav > li > a > .icon {
    display: none;
  }
  .toc {
    padding-bottom:0px;
  }
  .toc .nav > li > a {
    margin-left:0px;
  }
}





.article {
  margin-top: 50px;
}
.article img {
  height:auto;
  max-width:80%;
  display:block;
  box-shadow: 7px 7px 10px grey;
  margin:20px auto;
}
@media only screen and (max-width: 768px) {
  .article img {
    margin:auto;
    max-width:100%;
  }
}
.toc {
  padding-bottom:20px;
}
.sidefilter {
  top:51px;
}
.sidetoc {
  top:110px;
  margin-top:0px;
  bottom: 140px;
  border-bottom: 1px solid #e7e7e7;
}
footer {
  position:static;
}
.footer {
  background:#222;
  color:#9d9d9d;
}



/* No indent */
.toc .level2 {
    font-weight: normal;
    margin: 5px 0 0 0px;
}
.toc .level2 > li {
    margin: 5px 0;
}

/* Separator in mobile view */
@media only screen and (max-width: 768px) {
    .toc li {
        margin-right: 10px;
    }
    .toc li:after {
        content: "\00a0\00a0\2013"; /* https://css-tricks.com/snippets/html/glyphs/ */
    }
    .toc li:last-child:after {
        content: "";
    }
}

/* Bigger category text */
.toc .level1 > li > a {
    font-size: 12pt;
}

